html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

#map {
  bottom:0px;
  height: 100%;
  left: 20%;
  position: absolute;
  right: 0px;
}
